# ─────────────────────────────────────────────────────────────────────────────
# NEXUS — Linux Cybersec Toolkit
# Run: pip install -r requirements.txt --break-system-packages
# ─────────────────────────────────────────────────────────────────────────────

rich>=13.0.0
impacket>=0.11.0
ldap3>=2.9.1
ldapdomaindump>=0.9.0
